.azure
src/patient-tracking/.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
src/patient-tracking/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
.vscode/settings.json
/output/
LogicApp.zip
__azurite*